main {

}
html {
    background: darkgray ;
}
/* Start Menu*/
.menu {
    display: inline-block;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 415px;
    top: 100px;
}

#end-screen {
    display: inline-block;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 415px;
    top: 100px;
}

/* timer */

#timer{
    display: flex;
    position: relative;
    left: 950px;
    top: 10px;
    font-weight: 700;
    font-size: larger;
}

/* background */
#container {
    height: 440px;
    width: 1000px;
    display: flex;
    position: absolute;
    background: url(../Pics/background.jpg);
}


.building {
    display: flex;
    position: absolute;
    bottom: 90px;
    left: -168px;
    height: 600px;
}
/* character */
.character {
    display: flex;
    height: 100px;
    position: absolute;
    bottom: 90px;
    left: 150px;
}
/* Enemies */
.runner {
    bottom: 90px;
    text-align: center;
    position: absolute;
    height: 100px;
    left: 900px;
    -webkit-animation: move-left 5s  linear infinite;
}

.flyer {
    bottom: 200px;
    text-align: center;
    position: absolute;
    height: 100px;
    left: 900px;
    -webkit-animation: move-fly 5s  linear infinite;
}

/* animation definitions */

@-webkit-keyframes move-left {
    0%   {left:900px}
    100% {left: -10px;}
}

@-webkit-keyframes move-fly {
    0%   {bottom:; left:900px;}
    10%  {bottom: 250px;}
    20%  {bottom: 80px;}
    30%  {bottom: 250px;}
    40%  {bottom: 80px;}
    50%  {bottom: 250px;}
    60%  {bottom: 80px;}
    70%  {bottom: 250px;}
    80%  {bottom: 80px;}
    90%  {bottom: 250px;}
    100% {bottom: 80px; left: -10px;}
}