main {

}
body {
    
}

.bckgrnd {
    height: 650px;
    align: center;
}

.character {
    display: flex;
    height: 100px;
    position: absolute;
    bottom: 145px;
    left: 10px;
    
}

.container {
    display: flex;
    position: relative;
    text-align: center;
}

.startscrn {
    display: flex;
    position: absolute;
    text-align: center;
    bottom: 425px;
    left: 455px;
}

.enemy img  {
    text-align: center;
    position: absolute;
    height: 100px;
    left: 980px;
}

.runner {
    bottom: 145px;
}

.ninjastar {
    bottom: 250px;
}

.flying-enemy {
    top: 250px;
}
