html {
    background: darkgray ;
}
/* Start Menu*/
.menu {
    display: inline-block;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 415px;
    top: 100px;
}

#end-screen {
    display: inline-block;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 415px;
    top: 100px;
}

/* timer */

#timer{
    display: flex;
    position: relative;
    left: 950px;
    top: 10px;
    font-weight: 700;
    font-size: larger;
}

/* background */
#container {
    height: 440px;
    width: 1000px;
    display: flex;
    position: absolute;
    background: url(../Pics/background.jpg);
}

/* building */
#building {
    display: flex;
    position: absolute;
    bottom: 90px;
    left: -168px;
    height: 600px;
}
/* player */
#player {
    display: flex;
    height: 100px;
    position: absolute;
    bottom: 90px;
    left: 150px;
}

.jump{
    -webkit-animation: move-jump 1500ms linear;
}

/* Enemies */
#runner {
    bottom: 90px;
    text-align: center;
    position: absolute;
    height: 100px;
    left: 900px;
    -webkit-animation: move-left 15s  linear infinite;
}

#flyer {
    bottom: 200px;
    text-align: center;
    position: absolute;
    height: 100px;
    left: 900px;
    -webkit-animation: move-fly 10s  linear infinite;
}

/* .projectile{
    display: flex;
    bottom: 80px;
    height: 50px;
    position: relative;
} */



/* animation definitions */

@-webkit-keyframes move-left {
    0%   {left: 900px}
    25%  {left: 25px;}
    50%  {left: 900px;}
    75%  {left: 25px}
    100% {left: 900px;}
}

@-webkit-keyframes move-fly {
    0%   {bottom:; left: 900px;}
    10%  {bottom: 250px; left: 750px;}
    20%  {bottom: 80px; left: 500px;}
    30%  {bottom: 250px; left: 350px;}
    40%  {bottom: 80px; left: 200px;}
    50%  {bottom: 250px; left: 50px;}
    60%  {bottom: 80px; left: 200px;}
    70%  {bottom: 250px; left: 350px;}
    80%  {bottom: 80px; left: 500px;}
    90%  {bottom: 250px; left: 750px;}
    100% {bottom: 80px; left: 900px;}
}

@-webkit-keyframes move-jump {
    0%   {bottom: 100px;}
    30%  {bottom: 250px;}
    70%  {bottom: 250px;}
    100% {bottom: 100px;}
}